.header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: azure;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cartimg {
  padding-right: 3rem;
}

.notimg {
  padding-right: 5rem;
}

.menu {
  padding-left: 5rem;
}
