.mood {
  padding-top: 1rem;
}

.tr {
  padding-bottom: 0.9rem;
}

.moodtr {
  margin-bottom: 1rem;
  background-color: lightblue;
}

.images {
  padding-left: 36rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}
